<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!--Publish Plugin Start-->
	<extension point="org.eclipse.ui.commands">
		<command defaultHandler="com.cognizant.gto.ccap.plugin.CCAPPublishHandler" icon="icons/ccap.jpg"
			id="com.cognizant.gto.ccap.eclipseplugin.CCAPPublishHandler" name="CCAPPublishCommand">
		</command>
	</extension>

	<extension point="org.eclipse.ui.menus">
		<menuContribution allPopups="false"
			locationURI="popup:org.eclipse.ui.popup.any">
			<command commandId="com.cognizant.gto.ccap.eclipseplugin.CCAPPublishHandler"
				label="Code Analysis - Publishing" icon="icons/ccap.jpg" style="push">
			  <visibleWhen checkEnabled="true">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                  </iterate>
               </with>
             </visibleWhen>
           </command>
		</menuContribution>
	</extension>
   <!--Publish Plugin END-->

<!--LocalAnalysis Plugin Start-->
	<extension point="org.eclipse.ui.commands">
		<command defaultHandler="com.cognizant.gto.ccap.plugin.CCAPLAIncrementalHandler" icon="icons/ccap.jpg"
			id="com.cognizant.gto.ccap.plugin.CCAPLAIncrementalHandler" name="CCAPLAIncrementalCommand">
		</command>
	</extension>

	<extension point="org.eclipse.ui.menus">
		<menuContribution allPopups="false"
			locationURI="popup:org.eclipse.ui.popup.any">

			  <menu id="com.cognizant.gto.ccap.eclipse.localgroup" icon="icons/ccap.jpg"
               label="Code Analysis - Local">
			<command commandId="com.cognizant.gto.ccap.plugin.CCAPLAIncrementalHandler"
				label="Incremental" style="push">
			    <visibleWhen checkEnabled="false">
                          <with variable="activeMenuSelection">
                                 <iterate ifEmpty="false" operator="and">
                                        <or>
                                                <adapt type="org.eclipse.jdt.core.IPackageFragment" />
                                                <adapt type="org.eclipse.jdt.core.IPackageFragmentRoot" />
                                                <adapt type="org.eclipse.core.resources.IProject" />
                                                <adapt type="org.eclipse.core.resources.IFolder" />
                                                <adapt type="org.eclipse.core.resources.IResource"/>
                                         </or>
                                  </iterate>
                           </with>
                     </visibleWhen>
           </command>
           </menu>
		</menuContribution>
	</extension>

	<extension point="org.eclipse.ui.commands">
		<command defaultHandler="com.cognizant.gto.ccap.plugin.CCAPLAPreviewHandler" icon="icons/ccap.jpg"
			id="com.cognizant.gto.ccap.plugin.CCAPLAPreviewHandler" name="CCAPLAPreviewCommand">
		</command>
	</extension>

	<extension point="org.eclipse.ui.menus">
		<menuContribution allPopups="false"
			locationURI="popup:org.eclipse.ui.popup.any">

			  <menu id="com.cognizant.gto.ccap.eclipse.localgroup" icon="icons/ccap.jpg"
               label="Code Analysis - Local">
			<command commandId="com.cognizant.gto.ccap.plugin.CCAPLAPreviewHandler"
				label="Preview" style="push">
			    <visibleWhen checkEnabled="false">
                          <with variable="activeMenuSelection">
                                 <iterate ifEmpty="false" operator="and">
                                        <or>
                                                <adapt type="org.eclipse.jdt.core.IPackageFragment" />
                                                <adapt type="org.eclipse.jdt.core.IPackageFragmentRoot" />
                                                <adapt type="org.eclipse.core.resources.IProject" />
                                                <adapt type="org.eclipse.core.resources.IFolder" />
                                                <adapt type="org.eclipse.core.resources.IResource"/>
                                         </or>
                                  </iterate>
                           </with>
                     </visibleWhen>
           </command>
           </menu>
		</menuContribution>
	</extension>


<!--LocalAnalysis Plugin END-->

	<!-- Preference Page -->
	<extension point="org.eclipse.ui.preferencePages">
		<page
			id="com.cognizant.gto.ccap.plugin.preference.CCAPPreferences"
			name="CCAP"
			class="com.cognizant.gto.ccap.plugin.preference.CCAPPreferences">
		</page>
	</extension>

	<!-- Eclipse View-->
	<extension id="ccapViews" point="org.eclipse.ui.views">
		<category name="CCAP" id="com.cognizant.gto.jcoe.ccap.fileanalysis.views"></category>
		<view allowMultiple="false" icon="icons/ccap.jpg" class="com.cognizant.gto.ccap.plugin.view.ViolationsDetailView"
		category="com.cognizant.gto.ccap.plugin.view" name="Measures"
		id="com.cognizant.gto.ccap.plugin.view.ViolationsDetailView" />

		<!-- <state class="org.eclipse.ui.handlers.RegistryToggleState:true"
    	 id="org.eclipse.ui.commands.toggleState">
		</state> -->

	</extension>


   <extension id="ccapCheckinView" point="org.eclipse.ui.views">
		<category name="CCAPCheckin" id="com.cognizant.gto.jcoe.ccap.checkin.views">
		</category>
		<view allowMultiple="false" icon="icons/ccap.jpg"
			class="com.cognizant.gto.ccap.checkin.plugin.ui.CheckinFailureDetailView"
			category="com.cognizant.gto.ccap.checkin.plugin.views" name="Check-in Policy Violations"
			id="com.cognizant.gto.ccap.checkin.plugin.ui.CheckinFailureDetailView" />
	</extension>


<!-- Refactoring Proposal Markers extensions: Began -->
	<extension point="org.eclipse.core.resources.markers"
	      id="com.cognizant.gto.ccap.plugin.refactormarker"
	      name="CCAP Refactoring Proposal">
	      <super type="org.eclipse.core.resources.problemmarker"/>
	      <super type="org.eclipse.core.resources.textmarker"/>
	      <attribute name="SelectedItemText" />
	      <attribute name="ViolatedRuleName" />
	      <attribute name="ViolatedRuleInfo" />
	      <attribute name="ResolutionExists" />
	      <attribute name="MarkerDeleteFlag" />
	      <persistent value="false"/>
	</extension> 
    
   <extension point="org.eclipse.ui.editors.markerAnnotationSpecification"
	 id="com.cognizant.gto.ccap.plugin.refactormarker.annotationspecification"
	 name="CCAP Refactoring Proposal Annotation Speficiation">
	 <specification
		  annotationType="com.cognizant.gto.ccap.plugin.refactormarker.annotationtype"
		  label="CCAP Refactoring Proposal Annotation Speficiation"
		  icon="icons/file.gif"
		  overviewRulerPreferenceKey="com.cognizant.gto.ccap.plugin.refactormarker.annotationspecification.overviewruler"
		  overviewRulerPreferenceValue="true"
		  colorPreferenceKey="com.cognizant.gto.ccap.plugin.refactormarker.annotationspecification.colour"
		  colorPreferenceValue="253,255,157"
		  textPreferenceKey="com.cognizant.gto.ccap.plugin.refactormarker.annotationspecification.text"
		  textPreferenceValue="true"
		  verticalRulerPreferenceKey="com.cognizant.gto.ccap.plugin.refactormarker.annotationspecification.verticalruler"
		  verticalRulerPreferenceValue="true"
		  textStylePreferenceKey="com.cognizant.gto.ccap.plugin.refactormarker.annotationspecification.textstyle"
		  textStylePreferenceValue="BOX"
		  contributesToHeader="false"
          highlightPreferenceKey="com.cognizant.gto.ccap.plugin.refactormarker.annotationspecification.highlight"
          highlightPreferenceValue="true"
          includeOnPreferencePage="true"
          presentationLayer="0" />
   </extension>

	<extension point="org.eclipse.ui.editors.annotationTypes">
      	<type
      		name="com.cognizant.gto.ccap.plugin.refactormarker.annotationtype"
			markerSeverity="0"
			super="org.eclipse.ui.workbench.texteditor.info"
			markerType="com.cognizant.gto.ccap.plugin.refactormarker"/>
	</extension>
   
	<extension point="org.eclipse.ui.editors.markerUpdaters">
		<updater
			id="com.cognizant.gto.ccap.plugin.refactormarker.Updater"
			class="com.cognizant.gto.ccap.plugin.refactormarker.MarkerUpdater"
			markerType="com.cognizant.gto.ccap.plugin.refactormarker" />
	</extension>
  
   <extension
	   point="org.eclipse.ui.ide.markerResolution">
	   <markerResolutionGenerator
		   markerType="com.cognizant.gto.ccap.plugin.refactormarker"
		   class="com.cognizant.gto.ccap.plugin.refactormarker.resolution.ResolutionGenerator">
	   </markerResolutionGenerator>
   </extension>

   <extension-point id="markerResolution" name="CCAP Marker Resolution" schema="schema/markerResolution.exsd"/>

</plugin>
